<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="file" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.} [%t]: %m %ex%n"/>
        </Console>
        <RollingFile name="node-1" fileName="logs/node-1.log" filePattern="log/node-1-%02i-%d{HH-MMddyyyy}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="1 KB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="file" level="DEBUG"/>
            <AppenderRef ref="STDOUT" level="INFO"/>
        </Root>
        <Logger name="node-1" level="trace" additivity="false">
            <AppenderRef ref="node-1"/>
        </Logger>
    </Loggers>
</Configuration>